.hero-image {
	margin-top: 4rem;
	margin-bottom: 2rem;
	background-color: transparent;
	border-radius: 7px;
	background: rgba($color: #000000, $alpha: 0.7);
	backdrop-filter: blur(3px);
	background-size: cover;
	background-position: 50% 25%;
	width: 100%;
	height: 400px;
	box-shadow: 0 1px 7px 0 rgba($color: #000000, $alpha: 0.7);

	&:hover {
		background: rgba($color: #000000, $alpha: 0.8);
	}
}

@media only screen and (max-width: 600px) {
	.hero-image {
		height: 400px;
	}
}
