.section {
	color: $font-primary;
	padding: 1rem;
	border-radius: 7px;
	background: rgba($color: #000000, $alpha: 0.7);
	backdrop-filter: blur(3px);
	box-shadow: $box-shadow-small;
	transition: all 0.5s ease;
	margin-bottom: 30rem;
	position: relative;

	&__title {
		position: relative;
		display: inline-block;
		&::after {
			content: "";
			position: absolute;
			top: 40px;
			left: 0;
			height: 5px;
			background: linear-gradient(
				to right,
				rgba($color: rgb(119, 255, 0), $alpha: 1),
				rgba($color: rgb(255, 3, 3), $alpha: 0)
			);
			overflow-x: hidden;
			width: 160%;
		}
	}

	&:hover {
		background: rgba($color: #000000, $alpha: 0.8);
	}
}
